# SwiftFormat configuration

# --- Basics ---
--swiftversion 6.0
--indent 2
--semicolons never
--allman false
--stripunusedargs closure-only

# --- Self handling ---
--self remove   # remove unneeded `self.`

# --- Imports ---
--importgrouping alphabetized
--importgrouping testable-top
--redundanttype inferred

# --- Structuring ---
--wraparguments after-first
--wrapcollections before-first
--xcodeindentation enabled

# --- Files ---
--symlinks ignore
--exclude Generated, GraphQL

# --- Linting / Safety ---
--commas inline
--stripunusedargs closure-only
--marktypes always